<div style="height: calc(100% - 160px); width: 100%;">

  <div class="container">

      <mat-form-field class="example-full-width" appearance="fill" style="width:49%;">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [(ngModel)]="connexion.email"
          placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width:49%;">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"  [(ngModel)]="connexion.password" required style="width:80%;">
          <mat-icon (click)="hide = !hide" style="cursor: pointer; position: absolute; top:-25%; margin-left: 25px;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

    <button mat-raised-button (click)="postAuthLogin()">Valider</button>


  </div>

</div>
