<ng-container *ngIf="pokemons">
<!--<ul class="pokemons">

  <li *ngFor="let pokemon of pokemons.data">
    <p>{{pokemon.name}}</p><p>{{pokemon.id}}</p>

  </li>
</ul>-->

<mat-list
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  (scrolled)="onScroll()">
  <input  type="search" placeholder="Search.." [(ngModel)]="recherche" (input)="resetOffset()">
  <div style="height: calc( 100% - 50px );">
  <mat-list-item *ngFor="let pokemon of pokemons.data" (click)="emitEventPokemonSelect(pokemon.id)">
    <!--<mat-icon matListIcon class="pokemonImg"><img src="../../../assets/img/sprites/{{pokemon.id}}.png" alt=""></mat-icon>
    <p matLine>
      <span> {{pokemon.id}} </span>
      <span> - {{pokemon.name}} </span>
    </p>-->


    <div class="text-decoration-none display-flex align-items-center" style="display:flex; align-items: center">

      <img matListAvatar [src]="'../assets/img/sprites/'+pokemon.id+'.png'" style="height: 80px; width: auto;">

      <span style="font-size: 15px;" (click)="playAudio(pokemon.id)">{{pokemon.id}} . {{pokemon.name}} </span>
    </div>
  </mat-list-item>
  </div>
</mat-list>

</ng-container>
